#contenedor {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.columna {
    width: 40%;
    border: 1px solid #aaa;
    padding: 10px;
}

.columnaCentro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.fila {
    display: flex;
    justify-content: space-between;
    padding: 6px;
    border: 1px solid #ccc;
    margin: 4px 0;
    cursor: pointer;
}

.fila.seleccionado {
    background: lightblue;
}

.botones-orden {
    display: flex;
    gap: 4px;
}
