*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f4f4f4;
    font-size: 1rem;
}

.header {
    text-align: center;
    background: #333;
    color: #fff;
    padding: 2rem;
}

.app{
    display: flex;
    gap: 1.5rem;

}

.panel{
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    background: #fff;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.panel--form{
    width: 350px;
}

.panel--list{
    width: 100%;
}

.reserva{
    border: solid 1px #e5e5e5;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    
}

.reserva__title{
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.2rem;
    border: solid 1px #e5e5e5;
}

.btn{
   border-radius: 0.3rem;
   padding: 0.5rem;
   border:none;
   cursor: pointer;
   color:#fff;
   height: 2rem;

}

.btn--editar {
    background-color: #cd0c0c;
}
.btn--delete {
    background-color: #cb8718;
}

.btn--guardar {
      background-color: #1673dd;
}

.btn--api{
      background-color: #6f1455;
}

.tools {
    display: flex;
    gap: 1rem;
}
.reserva__actions{
    display: flex;
    gap: 1rem;
    flex-direction: row;
}

.reserva__info {
    display: flex;
    gap:1rem;
    flex-direction: column;
}